body {
 margin: 0;
 height: 1200px;
}

#mae1 {
    height: 200px;
    width: 200px;
    border: rgb(131, 131, 131) solid ;
    
}

#mae2 {
    height: 200px;
    width: 200px;
    border: rgb(131, 131, 131) solid ;
    position: absolute;
    right: 0;
    top: 0;
    
}

#mae3 {
    height: 200px;
    width: 200px;
    border: rgb(131, 131, 131) solid ;
    right: 50%;
    position: fixed;
    bottom: 10px;
}


.boxes {
    height: 100px;
    width: 100px;
    border: black solid;
    left: 50px;
    position: relative;
    top: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 35px;
}

